//FONT FAMILIES
$font-base: 'Roboto', Arial, sans-serif;
$font-head: 'Raleway', Arial, sans-serif;
//FONT SIZES

$fontSize-base: 14px;
$fontSize-small: 18px;
$fontSize-large: 20px;
$fontSize-largest: 46px;

//LINE HEIGHTS
$lineHeight-tightest: 1;
$lineHeight-tighter: 1.2;
$lineHeight-tight: 1.4;
$lineHeight-base: 1.5;
$lineHeight-loose: 1.6;
$lineHeight-looser: 1.7;
